.virtuoso_portfolio_image_gallery {
  max-width: 1500px;
  margin: 0 auto;

  .category_selector {

    .categories {
      margin-left: 8px;

      @include media-query('sm') {
        margin-left: 0;
      }
      @include media-query('med') {
        margin-left: 25px;
      }

      a {

        @include media-query('sm') {
          font-size: 12px;
        }

        &:first-child {
          margin-right: 8px;

          @include media-query('med') {
            margin-right: 25px;
          }
        }

        &:last-child {
          margin-left: 8px;

          @include media-query('med') {
            margin-left: 25px;
          }
        }

        &:not(:first-child):not(:last-child) {
          margin: 0 8px;

          @include media-query('med') {
            margin: 0 25px;
          }
        }

      }
    }

  }

  .virtuoso_gallery {
    max-width: 1030px;
    margin: 0 auto;
  }

  .gallery_wrap {
    display: block;

    @include media-query('med'){
      margin: -80px 0 0 -80px;
    }

    .grid-item {
      width: 50%;
    }

    //.grid-sizer {
    //  width: 20%;
    //}

    .portfolio_group_wrap {

      display: none;

      &.visible {
        display: block;
      }

      @include media-query('med'){
        display: none;
        &.visible {
          display: flex;
          flex-wrap: wrap;
        }

      }


      li {
        display: flex;
        justify-content: center;

        @include media-query('med'){
          //@supports not (position: sticky) {
          flex-grow: 1;
          flex-shrink: 1;
          //}

          //@supports not (position: sticky) {

          width: 280px;
          padding: 80px 0 0 80px;
          //}

        }

        &:not(:first-child):not(:last-child) {
          margin: 60px 0;

          @include media-query('med'){
            margin: 0;
          }
        }

      }

    }

  }

  .portfolio_header_wrap {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: 200px;
    text-align: center;

    @include media-query('sm') {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include media-query('med') {
      right: -90px;
      text-align: left;
    }


  }

  .show_more {
    display: none;
    a {
      width: 100px;
      margin: 80px auto 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-style: italic;
      font-weight: bold;
      cursor: pointer;
    }
    .icon {
      margin-top: 10px;

    }

    &.visible {
      display: block;
    }

  }


}