.virtuoso_portfolio_image_gallery.masonry {

  .gallery_wrap {
    margin: 0 auto;

    /* clear fix */
    &.grid {
      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    /* ---- .grid-item ---- */

    .grid-sizer,
    .grid-item {

      @include media-query('sm') {
        width: 100%;
      }

      width: 49%;
    }

    .gutter-sizer {
      @include media-query('sm') {
        width: unset;
      }
      width: 2%;
    }

    .grid-item--gigante {
      width: 100%;
      z-index: 2; /* above other items */
    }

    .grid-item {
      float: left;
      border: 2px solid #f3f3f3;
      border-radius: 4px;
      margin-bottom: 20px;
      position: relative;

      &::after {
        position: absolute;
        font-family: 'Themify';
        content: '\e659';
        opacity: 0;
        transition: opacity 200ms ease-in-out;
        right: 0;
        top: 0;
        color: white;
        padding: 15px;
      }

      &:hover {
        cursor: pointer;
        transition: transform 100ms ease-in-out;

        &::after {
          opacity: 1;
          transition: opacity 200ms ease-in-out;
        }

      }

      img {
        display: block;
        width: 100%;
        border-radius: 4px;
      }

      .grid-item-content {
        display: flex;
        align-items: center;
        height: 85px;
        span {
          padding-left: 20px;
        }
      }
    }
  }

  .show_more {

    &.visible {
      width: 100%;
      clear: both;
    }

  }
}